click_log
click_completion
sphinx_togglebutton
sphinx-copybutton
sphinxcontrib-bibtex
git+https://github.com/mwouts/jupytext.git
git+https://github.com/executablebooks/jupyter-book.git
git+https://github.com/phaustin/sphinx-book-theme.git
git+https://github.com/phaustin/markdown-it-py.git
git+https://github.com/pandas-dev/pydata-sphinx-theme.git
